
body{
  margin: 0;
}
.home{
    font-size: 20px;
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: rgb(255, 188, 62);
    border-radius: 10px;
}

.form {
  margin-left: 8px;
}
.logo{
  display: flex;
}
.back .logo img{
  width: 200px;
}

.footer {
  height: 90px;
  margin-top: 50px;
  background: rgb(0, 0, 0);
  text-align: center;
}


#copyright {
  font-size: 15px;
  color: #ffffff;
  padding-top: 25px;
}
.kurashiru{
    font-size: 20px;
    color: #ffa601ad;
    font-family: "コーポレート明朝 ver2" ;
    margin-left: 8px;
}
textarea{
    border: solid 1px #aaa;
    border-radius:5px;
    padding: 10px;
    height: 30px;
    width: 1000px;
    font-size: 20px;
}
.item{
    overflow: hidden;
    margin-bottom: 20px;
}
form{
    width:100%;
    background-color: rgba(255, 200, 80, 0.473);
}
.yourname{
    font-size: 20px;
}
label{
    font-size: 20px;
}
.back>.title{
    font-family: "コーポレート明朝 ver2" ;
    font-size: 50px;
  }
.back>.subtitle{
    font-family: "コーポレート明朝 ver2" ;
    font-size: 25px;
}
.btn>.submit{
    display       : inline-block;
    border-radius : 5%;          /* 角丸       */
    font-size     : 15pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 10px 10px;   /* 余白       */
    background    : #00eeff8f;     /* 背景色     */
    color         : #ff0000;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    border        : 2px solid #0099ff;    /* 枠の指定 */
    margin-right: 20px;
}
.submit:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    background    : #ffffff;     /* 文字色     */
  }
.btn>.reset{
    display       : inline-block;
    border-radius : 5%;          /* 角丸       */
    font-size     : 15pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 10px 10px;   /* 余白       */
    background    : #00eeff8f;     /* 背景色     */
    color         : #ff0000;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    border        : 2px solid #0099ff;    /* 枠の指定 */
}
.reset:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : #ff0000;     /* 背景色     */
    background    : #ffffff;     /* 文字色     */
  }
/* ハンバーガーメニュー */
.header__hamburger {
  width: 48px;
  height: 48px;
  position: fixed;
  margin-top: 10px;
  right: 10px;
}

#js-nav ul li {
  list-style: none;
}

#js-nav ul li a {
  text-decoration: none;
}

#js-nav ul li a:hover {
  color: #666666;
}

.hamburger {
  background-color: #00000069;
  border-color: transparent;
  z-index: 9999;
}

.hamburger span {
  width: 100%;
  height: 3px;
  background-color: #1fd100;
  position: relative;
  transition: ease .4s;
  display: block;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  margin: 8px 0;
}

.hamburger span:nth-child(3) {
  top: 0;
}

/* ハンバーガーメニュークリック後のスタイル */
.header__nav {
  z-index: 10000;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  background-color: #0000008b;
  transition: ease .4s;
}

.nav-items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
}

.nav-items__item a {
  color: rgb(255, 255, 255);
  width: 100%;
  display: block;
  text-align: center;
  font-size: 20px;
  margin-bottom: 24px;
}

.nav-items__item:last-child a {
  margin-bottom: 0;
}

.header__nav.active {
  transform: translateX(0);
}

.hamburger.active span:nth-child(1) {
  top: 8px;
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;

}

.hamburger.active span:nth-child(3) {
  top: -13px;
  transform: rotate(-45deg);
}

#js-hamburger {
  z-index: 11000;
}
@media screen and (max-width: 774px) {
    .back>.subtitle{
      font-size: 20px;
    }
    .back>.title{
      font-size: 40px;
    }
    .kurashiru{
      font-size: 15px;
    }
    .btn>.submit{
        font-size: 15px;
        padding: 7px 7px;
      }
      .btn>.reset{
        font-size: 15px;
        padding: 7px 7px;
      }
    .home{
        font-size: 15px;
    }
}
@media screen and (max-width: 472px) {
  .back>.subtitle{
    font-size: 15px;
  }
  .back>.title{
    font-size: 35px;
  }
  .kurashiru{
    font-size: 10px;
  }
  p{
    font-size: 12px;
  }
  h1{
    font-size: 20px;
  }
  h2{
    font-size: 18px;
  }
  h3{
    font-size: 15px;
  }
  .Q{
      font-size: 15px;
  }
  .yourname{
    font-size: 10px;
  }
  textarea{
    font-size: 10px;
    padding: 7px;
    height: 20px;
    width: 500px;
  }
  .btn>.submit{
    font-size: 15px;
    padding: 7px 7px;
  }
  .btn>.reset{
    font-size: 15px;
    padding: 7px 7px;
  }
  .back .logo img{
    width: 50vw;
  }
}