<!DOCTYPE html>
<html lang="ja">
<head prefix="og: https://ogp.me/ns#">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='cook_with.jpg') }}">
    <title>cook_with</title>
    <meta property="og:url" content="https://cw.pythonanywhere.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="COOK_WITH" />
    <meta property="og:description" content="欲しい栄養素が摂れる料理がすぐわかる！料理検索サイト" />
    <meta property="og:site_name" content="COOK_WITH" />
    <meta property="og:image" content="https://cw.pythonanywhere.com/static/cook_with.png" />
    <meta property="description" content="欲しい栄養素が摂れる料理レシピがすぐわかる！料理検索サイト" />
</head>
<body>
    {% block content %}
    {% endblock %}
    <p class="kurashiru">引用元&nbsp;クラシル</p>
    <div class="footer">
        <p id="copyright">© 2022 Ritsuki Ishikawa & Ryoka Hamochi</p>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='hambergermenu.js') }}"></script>
</body>
</html>