{% extends "base.html" %}
{% block content %}
<div class="back" style="background: url(../static/back.jpeg) 0% 0%">
    <nav class="header__nav nav" id="js-nav">
        <ul class="nav__items nav-items">
            <li class="nav-items__item"><a href="{{ url_for('index') }}">ホーム</a></li>
            <li class="nav-items__item"><a href="{{ url_for('how') }}">使い方</a></li>
            <li class="nav-items__item"><a href="{{ url_for('tec') }}">システム説明</a></li>
            <li class="nav-items__item"><a href="{{ url_for('explanation') }}">栄養素説明</a></li>
            <li class="nav-items__item"><a href="{{ url_for('form') }}">アンケートフォーム</a></li>
        </ul>
    </nav>
    <button class="header__hamburger hamburger" id="js-hamburger">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <img src="{{ url_for('static', filename='cook_with.jpg') }}" style="width: 200px;" alt="cookwithのロゴ">
    <p class="title">COOK_WITH</p>
    <p class="subtitle">欲しい栄養素が摂れる料理がすぐわかる！料理レシピ検索サイト</p>
</div>
<div class="contents">
    <ul class="menu">
        <li class="item"><a href="{{ url_for('index') }}">ホーム</a></li>
        <li class="item"><a href="{{ url_for('how') }}">使い方</a></li>
        <li class="item"><a href="{{ url_for('tec') }}">システム説明</a></li>
        <li class="item"><a href="{{ url_for('explanation') }}">栄養素説明</a></li>
        <li class="item"><a href="{{ url_for('form') }}">アンケートフォーム</a></li>
    </ul>
</div>
<div class="explanation">
    <h2 style="background-color: rgba(30, 255, 0, 0.616);">栄養素説明</h2>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <p style="background-color: rgb(102, 255, 0);">各栄養素の効果</p>
    <ul>
        <li>タンパク質&#149;&#149;&#149;身体を動かすためのエネルギーになります。</li>
        <li>脂質&#149;&#149;&#149;重要なエネルギー源だけでなく、ホルモンや細胞膜、核膜を構成したり、皮下脂肪として、臓器を保護したり、体を寒冷から守ったりする働きもあります。 </li>
        <li>炭水化物&#149;&#149;&#149;脳や体を動かすといった主にエネルギー源として利用されます。</li>
        <li>食物繊維&#149;&#149;&#149;整腸効果、血糖値上昇の抑制、血液中のコレステロール濃度の低下などの役割があります。</li>
        <li>カリウム&#149;&#149;&#149;細胞の浸透圧の維持、心臓機能や筋肉機能の調節、血圧を下げるなどといった働きがあります。</li>
        <li>カルシウム&#149;&#149;&#149;骨や歯を強くするほか、血液の凝固を促して出血を予防したり、心筋の収縮作用を行い筋肉の興奮性を高める効果があります。</li>
        <li>鉄&#149;&#149;&#149;全身に酸素を運搬します。適度に摂取することで脳に酸素がよく行くようになるので、運動能力や学習能力の向上にも役立ちます。</li>
        <li>亜鉛&#149;&#149;&#149;ビタミンAを活性化させることでアンチエイジングや生活習慣病の予防にもなります。</li>
        <li>ビタミンA&#149;&#149;&#149;目や皮膚の粘膜を健康に保ったり、抵抗力を強めたりする働きがあります。</li>
        <li>ビタミンB1&#149;&#149;&#149;解糖系やクエン酸回路のエネルギー代謝の一部で補酵素として働きます。</li>
        <li>ビタミンB2&#149;&#149;&#149;ビタミンB2は特に脂質の代謝を助け、皮膚や粘膜、髪、爪などの細胞の再生に役立ちます。</li>
        <li>ビタミンC&#149;&#149;&#149;壊血病を防ぐ効果があります。また、毛細血管・歯・軟骨などを正常に保つ働きがあるほか、皮膚のメラニン色素の生成を抑え、日焼けを防ぐ作用や、ストレスやかぜなどの病気に対する抵抗力を強める働きがあります。
        </li>
        <li>ビタミンD&#149;&#149;&#149;正常な骨格と歯の発育促進、神経伝達や筋肉の収縮などを正常に行う働きがあります。</li>
        <li>ビタミンE&#149;&#149;&#149;体内の脂質の酸化を防ぎます。また、動脈硬化や血栓の予防、血圧の低下、LDL(悪玉)コレステロールの減少、細胞膜を健全に保つなどの働きがあります。</li>
    </ul>
    <p style="background-color: rgb(102, 255, 0);;">各栄養素、どんな人にオススメ？？</p>
    <ol type="1">
        <li>運動、トレーニングをしている人&#149;&#149;&#149;タンパク質、脂質、炭水化物、カルシウム、鉄、ビタミンA、ビタミンB、ビタミンC</li>
        <li>勉強を頑張りたい人&#149;&#149;&#149;炭水化物、鉄、ビタミンB1</li>
        <li>ダイエットしたい人&#149;&#149;&#149;タンパク質、ビタミンB1、ビタミンB2、食物繊維、</li>
        <li>朝貧血になりやすい人&#149;&#149;&#149;鉄</li>
        <li>低気圧頭痛を和らげたい人&#149;&#149;&#149;ビタミンB1、ビタミンB2、鉄、亜鉛</li>
        <li>朝ご飯を抜きがちな人&#149;&#149;&#149;タンパク質</li>
        <li>睡眠が浅い人&#149;&#149;&#149;タンパク質</li>
        <li>寝不足な人&#149;&#149;&#149;ビタミンB1</li>
        <li>疲れが取れない人&#149;&#149;&#149;炭水化物、ビタミンB1、ビタミンC</li>
        <li>インドアであったりリモートワークなどであまり家から出ない人&#149;&#149;&#149;ビタミンD</li>
    </ol>
    <p style="color: crimson;">
        ※栄養素は基本的にバランスをよく摂取するべきものなので、必要だからといって偏った栄養素を摂ったりするのはお勧めしません。過剰摂取は病気につながります。不足している栄養素を摂るようにしましょう。</p>
    <button type="submit" class="home" onclick=location.href="{{ url_for('nutrition_home') }}">戻る</button>
</div>
{% endblock %}