<!DOCTYPE html>
<html lang="ja">

<head prefix="og: https://ogp.me/ns#">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='cook_with.jpg') }}">
    <title>cook_with</title>
    <meta property="og:url" content="https://cw.pythonanywhere.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="COOK_WITH" />
    <meta property="og:description" content="欲しい栄養素が摂れる料理レシピがすぐわかる！料理検索サイト" />
    <meta property="og:site_name" content="COOK_WITH" />
    <meta property="og:image" content="https://cw.pythonanywhere.com/static/cook_with.png" />
    <meta property="description" content="欲しい栄養素が摂れる料理レシピがすぐわかる！料理検索サイト" />
</head>

<body>
    <div class="back" style="background: url(../static/back.jpeg) 0% 0%">
        <nav class="header__nav nav" id="js-nav">
            <ul class="nav__items nav-items">
                <li class="nav-items__item"><a href="{{ url_for('index') }}">ホーム</a></li>
                <li class="nav-items__item"><a href="{{ url_for('how') }}">使い方</a></li>
                <li class="nav-items__item"><a href="{{ url_for('tec') }}">システム説明</a></li>
                <li class="nav-items__item"><a href="{{ url_for('explanation') }}">栄養素説明</a></li>
                <li class="nav-items__item"><a href="{{ url_for('form') }}">アンケートフォーム</a></li>
            </ul>
        </nav>
        <button class="header__hamburger hamburger" id="js-hamburger">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <img src="{{ url_for('static', filename='cook_with.jpg') }}" style="width: 200px;"
            alt="cookwithのロゴ">
        <p class="title">COOK_WITH</p>
        <p class="subtitle">欲しい栄養素が摂れる料理がすぐわかる！料理レシピ検索サイト</p>
    </div>
    <div class="contents">
        <ul class="menu">
            <li class="item"><a href="{{ url_for('index') }}">ホーム</a></li>
            <li class="item"><a href="{{ url_for('how') }}">使い方</a></li>
            <li class="item"><a href="{{ url_for('tec') }}">システム説明</a></li>
            <li class="item"><a href="{{ url_for('explanation') }}">栄養素説明</a></li>
            <li class="item"><a href="{{ url_for('form') }}">アンケートフォーム</a></li>
        </ul>
    </div>

    <a href="{{ url_for('search_home') }}">使いたい食材で検索</a>

    <form action="/ans" method="POST">
        <div class="backg" style="background: url(../static/backg.jpeg) 0% 0%">
            <p class="explain">☆ステップ１　まず、最優先する栄養素を選択してください<br><span style="color: rgb(255, 0, 51);">{{ comment2
                    }}</span></p>
            <div class="cp_ipselect1">
                <select name="choose1" size="1" id="select1" class="cp_sl02">
                    <option value="noname" selected>一番欲しい栄養素を選択してください</option>
                    <option value="H">タンパク質</option>
                    <option value="I">脂質</option>
                    <option value="J">炭水化物</option>
                    <option value="K">食物繊維</option>
                    <option value="L">カリウム</option>
                    <option value="M">カルシウム</option>
                    <option value="N">鉄</option>
                    <option value="O">亜鉛</option>
                    <option value="P">ビタミンA</option>
                    <option value="Q">ビタミンB1</option>
                    <option value="R">ビタミンB2</option>
                    <option value="S">ビタミンC</option>
                    <option value="T">ビタミンD</option>
                    <option value="U">ビタミンE</option>
                </select>
            </div>
            <p class="explain">☆ステップ2　次に、他に欲しい栄養素があれば選択してください(２つまで)</p>
            <div class="cp_ipselect2">
                <select name="choose2" size="1" id="select2" class="cp_sl02">
                    <option value="noname" selected>欲しい栄養素を選択してください</option>
                    <option value="H">タンパク質</option>
                    <option value="I">脂質</option>
                    <option value="J">炭水化物</option>
                    <option value="K">食物繊維</option>
                    <option value="L">カリウム</option>
                    <option value="M">カルシウム</option>
                    <option value="N">鉄</option>
                    <option value="O">亜鉛</option>
                    <option value="P">ビタミンA</option>
                    <option value="Q">ビタミンB1</option>
                    <option value="R">ビタミンB2</option>
                    <option value="S">ビタミンC</option>
                    <option value="T">ビタミンD</option>
                    <option value="U">ビタミンE</option>
                </select>
            </div>
            <div class="cp_ipselect3">
                <select name="choose3" size="1" id="select3" class="cp_sl02">
                    <option value="noname" selected>欲しい栄養素を選択してください</option>
                    <option value="H">タンパク質</option>
                    <option value="I">脂質</option>
                    <option value="J">炭水化物</option>
                    <option value="K">食物繊維</option>
                    <option value="L">カリウム</option>
                    <option value="M">カルシウム</option>
                    <option value="N">鉄</option>
                    <option value="O">亜鉛</option>
                    <option value="P">ビタミンA</option>
                    <option value="Q">ビタミンB1</option>
                    <option value="R">ビタミンB2</option>
                    <option value="S">ビタミンC</option>
                    <option value="T">ビタミンD</option>
                    <option value="U">ビタミンE</option>
                </select>
                <span class="cp_sl02_highlight"></span>
                <span class="cp_sl02_selectbar"></span>
            </div>
            <p class="explain">☆ステップ３　最後に、結果の表示形式を選択してください<span style="color: rgb(255, 0, 51);">(必須){{ comment1
                    }}</span></p>
            <div class="cp_ipselect3">
                <select name="choose4" size="1" class="cp_sl02" required>
                    <option disabled>表示形式を選択してください</option>
                    <option value="random">ランダム</option>
                    <option value="sort1">栄養価割合（降順）</option>
                    <option value="sort2">栄養素量実数値（降順）</option>
                </select>
                <span class="cp_sl02_highlight"></span>
                <span class="cp_sl02_selectbar"></span>
            </div>
        </div>
        <div class="dont-know">
            <p>何の栄養素で検索すればいいかわからない！！<br>そんな人は&rarr;<a href="{{ url_for('explanation') }}"
                    style="color: rgb(0, 162, 255);">こちら</a></p>
            <button type="submit" class="ans" onclick=location.href="{{ url_for('ans') }}"
                style="color: rgb(0, 0, 0);">検索</button>
        </div>
    </form>
    <button type="submit" class="home" onclick=location.href="{{ url_for('index') }}">ホームに戻る</button>
    <p class="kurashiru">引用元&nbsp;クラシル</p>
    <div class="footer">
        <p id="copyright">© 2022 Ritsuki Ishikawa & Ryoka Hamochi</p>
    </div>


<script type="text/javascript" src="{{ url_for('static', filename='hambergermenu.js') }}"></script>
</body>

</html>