{% extends "base.html" %}
{% block content %}
<div class="how">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <h2 style="background-color: rgba(30, 255, 0, 0.616);">このWEBアプリケーションの使い方</h2>
    <p>なんでもいいからなんか適当にレシピ表示してくれないかなーという気分の時は、ステップ1,2を飛ばしていただいてステップ3で「ランダム」にして検索してみてください。</p>
    <h3>☆ステップ1</h3>
    <h3>最優先する栄養素を選択する</h3>
    <p>タンパク質、炭水化物、ビタミンC...など14項目の中から一番摂りたいなと思う栄養素を選択します。</p>
    <p style="color: red;">※ここで何も選択しなかった場合、ステップ2には何も選択しないでください。その場合全ての（計100個）のレシピが表示形式によって出力されます。</p>

    <h3>☆ステップ2</h3>
    <h3>他に欲しい栄養素があれば選択する</h3>
    <p>最大三項目で検索をかけることができます。</p>
    <p>ただし表示形式を「栄養価割合（降順）」または「栄養素量実数値（降順）」にした場合ステップ1で選択したもので大きい順に並べるのであまり関係ないと思ってください。</p>
    <p style="color: red;">※選択をすると全ての条件を満たすレシピを出力します。
        これは選択肢を絞るということなので出力される量は少なくなってしまいます。</p>
    <p style="color: red;">一つも出力されない場合、条件を緩めてもう一度検索してみてください。</p>

    <h3>☆ステップ3</h3>
    <h3>結果の表示形式を選択する</h3>
    <ul>
        <li>ランダム&thinsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&#149;&#149;&#149;条件（一定の基準値）を満たすレシピを上からランダムに出力します。
        </li>
        <li>栄養価割合（降順）&nbsp;&nbsp;&nbsp;&nbsp;&#149;&#149;&#149;全データ内の選択した栄養素の割合を求め、その割合の値が大きいのを上から順に出力する。</li>
        <li>栄養価実数値（降順）&nbsp;&#149;&#149;&#149;ステップ1で選択した栄養素の量が多いものを上から順に出力する。</li>
    </ul>
    <p style="color: red;">ここを選択しないと検索できないので必ず選択するようにしてください。</p>
    <h2 style="text-align: center;">&darr;&darr;&darr;</h2>
    <h2 style="text-align: center;">検索ボタンをクリック！！</h2>

    <button type="submit" class="home" onclick=location.href="{{ url_for('home') }}">ホームに戻る</button>
</div>
{% endblock %}