{% extends "base.html" %}
{% block content %}
<div class="back" style="background: url(../static/back.jpeg) 0% 0%">
    <nav class="header__nav nav" id="js-nav">
        <ul class="nav__items nav-items">
            <li class="nav-items__item"><a href="{{ url_for('index') }}">ホーム</a></li>
            <li class="nav-items__item"><a href="{{ url_for('how') }}">使い方</a></li>
            <li class="nav-items__item"><a href="{{ url_for('tec') }}">システム説明</a></li>
            <li class="nav-items__item"><a href="{{ url_for('explanation') }}">栄養素説明</a></li>
            <li class="nav-items__item"><a href="{{ url_for('form') }}">アンケートフォーム</a></li>
        </ul>
    </nav>
    <button class="header__hamburger hamburger" id="js-hamburger">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <img src="{{ url_for('static', filename='cook_with.jpg') }}" style="width: 200px;" alt="cookwithのロゴ">
    <p class="title">COOK_WITH</p>
    <p class="subtitle">欲しい栄養素が摂れる料理がすぐわかる！料理レシピ検索サイト</p>
</div>
<div class="contents">
    <ul class="menu">
        <li class="item"><a href="{{ url_for('index') }}">ホーム</a></li>
        <li class="item"><a href="{{ url_for('how') }}">使い方</a></li>
        <li class="item"><a href="{{ url_for('tec') }}">システム説明</a></li>
        <li class="item"><a href="{{ url_for('explanation') }}">栄養素説明</a></li>
        <li class="item"><a href="{{ url_for('form') }}">アンケートフォーム</a></li>
    </ul>
</div>
<div class="tec">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <h2 style="background-color: rgba(30, 255, 0, 0.616);">システム説明</h1>
        <h3>使っている言語などについて
    </h2>
    <p>言語はHTML、CSS、Pythonを使って作りました。<br>
        役割としてまずWEBページを作るためにHTML、そのページを綺麗にデザインするためにCSS、主に内部の計算及びデータの探索などにPythonを使っています。
        ただHTML、CSS、Pythonは一つ一つの独立したファイルであるので、それぞれ作っただけでは勝手に連携されてたりしません。
        なのでPythonのフレームワークであるflaskというものを使ってHTMLファイルとPythonファイルを連携させました。
        flaskを使うことでHTMLで入力欄とか作ってそこに入力したものを変数として受け取って他のHTMLファイルでその変数を使ったり、
        Pythonの計算などに用いたりすることができます。</p>
    <h2>引用について</h2>
    <p>料理レシピはクラシルさんから引用させていただきました。<br>
        え？勝手に使ってもいいの？と思われるかもしれませんがクラシルさんの運営事務局に問い合わせして許可をもらっているので問題ありません。
        あくまで青山祭の展示作品であって商用目的ではないのと、記載すべきものは全て記載しているため大丈夫だと思います。<a href="{{ url_for('pigeon') }}"
            style="text-decoration: none;">🐦</a>
    </p>
    <h2>料理レシピのデータ集めについて</h2>
    <p>具体的に行った作業は<br>
        ①レシピの材料をスクレイピング<br>
        ②基準データとレシピに使われてる具材の結びつけ<br>
        ③各レシピの材料毎の計算<br>
        です。<br>
        ①について、今回レシピはクラシルさんに記載されているレシピ100個を利用させていただいています。もともとサイトを作る時に一人暮らしをしている大学生を対象に考えていたので、抽出した100個のレシピは10代〜20代にかけて人気の料理を中心としています。<br>
        ②について、日本食品標準成分表示2020年度版を栄養素の基準データとしてレシピ上の食材の数値の各材料のエネルギー・各ビタミン量を計算しています。日本食品標準成分表の表記とクラシルの表記がやや違ったため対応付けなども間に行っています。現段階ではスクレイピングした100個のレシピの中に含まれている具材の数だけ表示を直してます。具材の個体差によって数値に誤差が確実に生じるので参考程度に捉えていただけると幸いです。<br>
        ③については後は計算です。筋肉です。for文とかで回してます。それだけ。<br>
        基本的に言語はpythonで、データはExcel、ライブラリはopenPyXLを使ってます。表記揺れ直したり各単位をg単位に変換したりするのが想像以上にめんどくさかったため作業を1ヶ月放置しかけたことをここに謝罪申し上げます()<br>
        <span style="color: rgb(255, 181, 70);">※データの引用<br>
            ・日本食品成分表示2020版(八訂)文部科学省 : <a
                href="https://www.mext.go.jp/a_menu/syokuhinseibun/mext_01110.html">https://www.mext.go.jp/a_menu/syokuhinseibun/mext_01110.html</a><br>
            ・カロリーslim : <a href="https://calorie.slism.jp">https://calorie.slism.jp</a></span>


    </p>
    <h2>データの探索について</h2>
    <p>このWEBアプリケーションは３つの検索方法を使っています。基本的にはexcelファイルを開いて条件を満たすデータをリストに入れて並び替えて表示といった感じです。<br>
        まずPythonファイル内にopenpyxlというのをインポートします。それによってexcelのファイルのデータを取ったりすることができます。<br>
        「ランダムで出力」の場合、まず必要な栄養素で入力したものを変数として取得します。その栄養素が一定の基準値を満たしている料理レシピ、URLをリスト内に抽出します。そのリストをランダムに並び替えて表示します。<br>
        「栄養価割合（降順）で出力」の場合、まず必要な栄養素で入力したものを変数として取得します。その料理に含まれる指定した栄養素が全体の何%か、その割合を求め割合の値が大きいの料理レシピ、URLをリスト内に抽出します。そのリストを割合値の大きい順に並び替えて10個表示します。<br>
        「栄養素量実数値（降順）で出力」の場合、まず必要な栄養素で入力したものを変数として取得します。欲しい栄養素として選択した栄養素量が多いものから順に並べ替えて表示します。
    </p>
    <h2>検索結果の表示について</h2>
    <p>ホーム画面の選択で入力された欲しい栄養素、表示形式を取得し変数にして検索結果のページで使えるようにしています。結果の表みたいなものについてはPythonで作った表示するべきリストをHTMLのtableタグを使って10個表示しています。
    </p>
    <h2>デプロイについて</h2>
    <p>
        <s>デプロイはherokuというクラウドアプリケーションプラットフォームを使用しています。
            かなりの時間をデプロイに費やしました。
            ただ、herokuには一つ問題があってなんと11月末に無料版のサービスが終了します。ということでこの最強アプリも使えなくなってしまいます。🥺🥺🥺</s><br>
        なんと、herokuからpythonanywhereへの移行が完了しましたのでサービス終了が免れました👏👏<br>
        pythonanywhereというのもherokuと同じような作成したwebアプリをデプロイする役割を持っていますが、herokuはデプロイした後保守するために、何もする必要がないのに対してpythonanywhereは三ヶ月に一回更新する必要があるといったところです。
        ただし難易度はpythonanywhereの方が簡単でした。
    </p>
    <button type="submit" class="home" onclick=location.href="{{ url_for('home') }}">戻る</button>
</div>
{% endblock %}