.Nutrition{
    font-family: serif;
}

.nut-container-fluid {
    background-color: white;
}

.nut-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 65vw;
    height: 100%;
    overflow: hidden;
    transform: translateY(22vh);
}

.nut-image {
    width: 100%;
    object-fit: cover;
}

.nut-text-container {
    font-family: serif;
    position: absolute;
    top: 22vw;
    right: 0;
    transform: translateX(-17vw);
    padding: 20px;
}

.nut-text-container h1 {
    font-size: 3vw;
    margin: 0;
}

.nut-text-container p {
    font-size: 1.5vw;
    margin: 10px 0 0;
    transform: translateX(1%);
}

#cook-with-icon {
    width: 10%;
    margin-left: 50px;
}

#view-button {
    position: absolute;
    left: 50vw;
    top: 85vh;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}