.Nutrition {
    font-family: serif;
}

.nut-container-fluid {
    background-color: white;
}

.nut-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 65vw;
    height: 100%;
    overflow: hidden;
    transform: translateY(22vh);
}

.nut-image {
    width: 100%;
    object-fit: cover;
}

#title {
    font-family: serif;
    position: absolute;
    top: 22vw;
    left: 65vw;
}

#subtitle {
    font-family: serif;
    position: absolute;
    top: 22vw;
    left: 65vw;
}

.nut-text-container h1 {
    font-size: 3vw;
    margin: 0;
}

.nut-text-container p {
    font-size: 1.5vw;
    margin: 10px 0 0;
}

#cook-with-icon {
    width: 10%;
    margin-left: 50px;
}

#view-button {
    position: absolute;
    left: 50vw;
    top: 85vh;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

#card-title{
    display: flex;
}

@media screen and (min-width: 900px) {
    #nut-title-smartphone {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    #nut-title {
        display: none;
    }

    #cook-with-icon {
        width: 30vw;
        margin: 0;
    }

    .nut-text-container-smartphone {
        position: absolute;
        margin: 0px;
        padding: 5px;
        right: 0;
        top: 45vh;
        text-align: right;
        background-color: rgba(240, 248, 255, 0.541);
    }

    .nut-text-container-smartphone h1 {
        font-size: 45px;
        margin: 0;
    }

    .nut-text-container-smartphone p {
        font-size: 20px;
        margin: 10px 0 0;
    }

    #card-title{
        display: block;
        min-width: 80vw;
    }

    .Card {
        min-width: 90vw;
        height: auto;
        padding: 1rem;
    }

    .CardContent {
        padding: 1rem;
    }

    .form-control {
        min-width: 100%;
    }

    #reset-btn{
        height: 50px;
    }

}